*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* ### Primary */

  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);

  /* ### Accent */

  --blue: hsl(248, 32%, 49%);

  /* ### Neutral */

  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

body {
  background-image: url('/images/bg-intro-mobile.png');
  background-color: var(--red);
}

.container {
  max-width: 90vw;
  margin: 5rem auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
